body {
    background-color: #2EAFAC;
    font-family: sans-serif;
    font-size: 2rem;
}

.printerButton {
    width: 10em;
    background-color: white;
    border-radius: 9px;
    border: 1px solid black;
    position: absolute;

    right: 2%;
    top: 4%;
}
.printerButton img { max-height: 100%; max-width: 100%; }
model-viewer { width: 100%; height: 100%;  }

